body {
    background: linear-gradient(180deg, rgba(227, 255, 248, 0), 82.08%, rgba(227, 255, 248, 0) 100%);

    margin: 0 140px 0 140px;

    font-family: 'Open Sans', sans-serif;

    min-height: 100vh;
}

#page {
    width: 1000px;
    margin: 0 auto 0;
    padding-top: 65px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 55px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
    gap: 48px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

a {
    color: #1F1534;
    text-decoration: none;
    font-weight: bold;
}

ul li  a {
    opacity: 50%;
}

ul li a:hover {
    color: #1F1534;
    opacity: 1;
}

ul a {
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 400;
    font-size: 49px;
    font-family: 'Mulish', sans-serif;

    color: #1F1534;
    line-height: 56px;
    max-width: 490px;

    margin-bottom: 40px;
}

h1 span {
    color:#89C5CC;
    font-weight: bold;
}

section p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;

    margin-bottom: 40px;
}

p strong {
    font-weight: 700;
    
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #69B99D;
    color: white;

    padding: 14px 32px 15px;
    border: 0;
    border-radius: 4px;

    cursor: pointer;
}

button:hover {
    background-color: #57aa8d;
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    text-align: center;
    line-height: 28px;

    margin-top: 80px;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}